.btn {
    padding: 5px 18px;
    text-transform: uppercase;
    border: 1px solid;
    font-size: 12px;
}

.btn-black {
    color: $white;
    background-color: $black;
    border-color: $black;
}

.btn-transparent {
    color: $black;
    background-color: transparent;
    border-color: $black;
}

.btn-white {
    color: $gray;
    background-color: $white;
    border-color: $white;
}