.container {
    width: 920px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

img {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

// SERIGRAPHY
.text-center {
    text-align: center;
}

.txt-10 {
    font-size: 10px;
}

// FLEX
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.j-center {
    justify-content: center;
}

.s-between {
    justify-content: space-between;
}

// PADDING
.pb-15 {
    padding-bottom: 15px;
}

// MARGIN
.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

// COLOR
.bg-violet {
    background-color: $violet;
}

.bg-gray {
    background-color: $gray;
}

.bg-azul {
    background-color: $azul;
}

.txt-pink {
    color: #E4405F;
}

.txt-pink {
    color: $pink;
}

.txt-pink {
    color: $pink;
}

.txt-pink {
    color: $pink;
}

.txt-pink {
    color: $pink;
}

.bg-logo-instagram {
    background-color: $logo-instagram;
}

.bg-logo-face {
    background-color: $logo-face;
}

.bg-logo-twitter {
    background-color: $logo-twitter;
}

.bg-logo-youtube {
    background-color: $logo-youtube;
}

.bg-logo-pinterest {
    background-color: $logo-pinterest;
}

.bg-logo-painter {
    background-color: $logo-painter;
}