nav {
    height: 80px;
    background-color: black;
    ul {
        color: $white;
        font-size: 12px;
        &>* {
            padding-left: 18px;
            padding-right: 18px;
        }
        select {
            font-size: 12px;
            color: $white;
            background: $black;
        }
    }
    .logo {
        width: 65px;
    }
    .account {
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 12px;
        i {
            color: $azul;
        }
        span {
            color: $gray;
            margin-right: 15px;
            margin-left: 5px;
        }
        select {
            font-size: 8px;
        }
    }
}