$azul :#26abff;
$violet :#3c1567;
$black :#101010;
$pink :#cb26b5;
$gray :#494949;
$lightGray:#ebebeb;
$white:#FFF;
$logo-instagram:#E4405F;
$logo-face:#3B5998;
$logo-twitter:#1DA1F2;
$logo-youtube:#CD201F;
$logo-pinterest:#BD081C;
$logo-painter:#FF8D00;